
.div_d{
  width: auto;
}

.ul_D {

  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 7px;

}

.ul_D li {
  float: left;
}

.ul_D li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 7px;
}

.ul_D li a:hover:not(.active) {
  background-color: #111;
  border-radius: 7px;
}

.active {
  background-color: #4CAF50;
}



.table_d {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}

.table_d th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.table_d tr:nth-child(even){background-color: #f2f2f2}

.table_d th {
  background-color: #4CAF50;
  color: white;
}

